*{
  margin: 0;
  padding: 0;
}
nav{
  background-color: grey;
  text-align: center;
  height: 40px;
}
.heading{
  border: 1.5px solid black;
  color: black; 
  height: 30px;
  margin-top: 4px; 
  margin-bottom: 4px; 
}
a{
  text-decoration: none;
}
.Home{
  width:50px;
}
.Youtube{
    width:130px;
  }

span {
  display: block;
}

.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: white;
}

#blue {
  background: blue;
}

#yellow {
  background: yellow;
}